<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="dev.pi.postbox.question.QuestionTestHostActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Material.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>
